<!DOCTYPE html>
<html>
<head>
  <title>后台管理主页</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--wang-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
  <script src="/jquery-3.2.1.js"></script>

  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="/stylesheets/adminLogin.css">
  <script src="/javascripts/admin.js"></script>

</head>


<body id="">

<div class="esjy-col">


  <%- include adminNav %>


  <div class="consult">
    <div class="line">咨询聊天</div>


    <div class="consult-content">
      <div class="person-col">
        <div class="main">
          <ul class="personList">
            <% rsConsult.forEach(function (row) { %>

            <li class="personNO" id="<%= row['client_id'] %>" data-clientid="<%= row['client_id'] %>"
                data-clientip="<%= row['client_ip'] %>">
              <div class="face"> <%= row['userid'] %>
                <!--//todo:---5，未读信息条数量-->
               <div class="smallface">1</div>
              </div>
              <div class="personInfo">
                <p class="consultTime"><%= row['lastchattime'].toLocaleTimeString() %></p>
                <p class="lastChat"> <%= row['message'] %></p>
              </div>
              <p class="del"> X </p>
            </li>
            <% }) %>
          </ul>

          <!--<a href="/admin">修改文章</a>-->
        </div>

      </div>

      <div class="chat-col" style="position:relative;">
        <div class="chatContent">
          <ul id="chatUl">
            <!--<li class="chat0 chat">
                <i class="name">sisddddy</i>
                <i class="timer">12:30:30</i>
                <p class="content">The first line</p>
            </li>
            <li class="chat1 chat active" class="chat active">......</li>-->
          </ul>

        </div>
        <li class="chat2"></li>


        <div class="sendMessage">
          <textarea type="text" name="" id="t"></textarea>
          <button id="b">发送</button>

        </div>

      </div>

    </div>

  </div>


</div>


</body>

</html>