<!DOCTYPE html>
<html>
<head>
  <title>文章管理</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/jquery-3.2.1.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/stylesheets/adminArticles.css">
  <script src="/javascripts/adminArticles.js"></script>

  <!--<script src="/jquery.color.js"></script>-->





</head>

<body id="sss">

<div class="esjy-col">


  <%- include adminNav %>



  <div class="subNav bg-dark ">
    <a class="navitem-name" href="/admin/articles">文章管理</a>
    <div class="subitems">
      <a id="logoutFlow" <%if(typeId==1){%>
         class="active" <%}%> href="/admin/searchType/?typeId=1"> 公司注销</a>
      <a id="foreign" <%if(typeId==2){%>
         class="active" <%}%>  href="/admin/searchType/?typeId=2">外资注册</a>
      <a id="orgnaize" <%if(typeId==3){%>
         class="active" <%}%>  href="/admin/searchType/?typeId=3">资质审批</a>
      <button type="button" class="btn btn-dark add-btn" id="addNew"><a
                href="/admin/addArticle" target="_blank">添加新文章</a></button>
    </div>
  </div>

  <div id="search-col">
    <div id="search">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="搜索文章标题" aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">查找</button>
        </div>
      </div>
    </div>

    <div class="esjy-control" >
      <div class="custom-control custom-radio">
        <input  onclick="javascript:window.location.href='/admin/search?customRadio=all&typeid=<%= typeId%>'" type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="all" <%if(type == 'all'){%> checked
                <%}%>
               />
        <input id="subflag" type="hidden" name="subflag" />
        <label  class="custom-control-label" for="customRadio1">全部</label>
      </div>
      <div class="custom-control custom-radio">
        <input onclick="javascript:window.location.href='/admin/search?customRadio=put&typeid=<%= typeId%>'"  type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="put" <%if(type == 'put'){%> checked
                <%}%>
        />
        <label  class="custom-control-label" for="customRadio2">首页推荐</label>
      </div>
    </div>


  </div>


  <div id="table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" id="col-xuhao">#</th>
        <th scope="col" id="col-title">文章标题</th>
        <th scope="col" id="col-readed-num">首页推荐</th>
        <th scope="col" id="col-create-date">创建日期</th>
        <th scope="col" id="col-edit">修改</th>
        <th scope="col" id="col-delate">删除</th>
      </tr>
      </thead>
      <tbody>
      <% for (var i = 0; i < rs.length; i++ ){ %>
      <tr>
        <th scope="row"> <%= i + 1 %></th>
        <td><%= rs[i]['title'] %></td>
        <td><%= rs[i]['looknum'] %></td>
        <td><%= rs[i]['updatetime'].toLocaleString() %></td>
        <td>
          <button id="edit-btn" type="button" class="btn btn-secondary"><a
                    href="/admin/editArticle?aid=<%= rs[i]['aid'] %>" target="_blank">修改</a></button>
        </td>
        <td>
          <button id="delate-btn" type="button" class="btn btn-dark" data-toggle="modal"
                  data-target="#exampleModal">删除
          </button>
        </td>
      </tr>

      <% }
      %>

      </tbody>
    </table>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
            </div>
            <div class="row">
              <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
              <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
            </div>
            <div class="row">
              <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                  <div class="col-8 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                  </div>
                  <div class="col-4 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>