<!DOCTYPE html>
<html>
<head>
  <title>问吧</title>
  <meta charset="UTF-8">
  <!--wang-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
  <!--<script src="/jquery-3.2.1.js"></script>-->
  <script src="/xheditor/jquery-1.11.2.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/detail.css'/>
  <!--<link rel="stylesheet" href="/stylesheets/nav.css">-->
  <!--<script type="text/javascript" src="/xheditor/xheditor-1.2.2.min.js"></script>-->
  <!--<script type="text/javascript" src="/xheditor/xheditor_lang/zh-cn.js"></script>-->

  <script type="text/javascript" src="/xheditor/xheditor-1.2.2.min.js"></script>
  <script type="text/javascript" src="/xheditor/xheditor_lang/zh-cn.js"></script>


  <script type="text/javascript">
    $(pageInit);

    function pageInit() {
      $.extend(XHEDITOR.settings, {shortcuts: {'ctrl+enter': submitForm}});
      $('#content').xheditor({
        html5Upload: false,
        upMultiple: '1',
        upLinkUrl: "/uploadFile",
        upLinkExt: "zip,rar,txt",
        upImgUrl: "/admin/uploadImg",
        upImgExt: "jpg,jpeg,gif,png",
        upFlashUrl: "/uploadFlash",
        upFlashExt: "swf",
        upMediaUrl: "upload.php",
        upMediaExt: "wmv,avi,wma,mp3,mid"
      });
    }

    function insertUpload(arrMsg) {
      console.log(arrMsg)
      var i, msg;
      for (i = 0; i < arrMsg.length; i++) {
        msg = arrMsg[i];
        $("#uploadList").append('<option value="' + msg.id + '">' + msg.localname + '</option>');
      }
    }

    function submitForm() {
      $('#frmDemo').submit();
    }


    $(function () {

      var navLi = $('.nav-item') //此处填写你的导航html对象
      var windowUrl = window.location.href; //获取当前url链接
      navLi.each(function () {
        var t = $(this).attr('href');
        // http://localhost:3001/?typeId=4
        var thref = "http://localhost:3001" + t;
        var reg = RegExp(/typeId=4/);
        if (thref == windowUrl) {
          $(this).addClass('active');  //添加当前位置样式
        }
      })


    })

    function typeId() {
      $("#inputState").change(function () {
        var id = $("#inputState  option:selected").val();
        $('#typeId').val(id);


        $('#typeId').css("background-color", "yellow");


        // alert($('#typeId').attr('name'));
      })
    }

    typeId();

  </script>

<body>


<div class="esjy-col">


  <div id="topBlack" class="bg-dark"></div>
  <div class="navbar">
    <div class="nav">
      <a class="logo" href="/admin/articles">晖昌通管理系统</a>

      <% if (rs[0] == 0) { %>
      <div class="line">添加文章</div>
      <% } else  { %>
      <div class="line">修改文章</div>

      <% } %>

      <div class="form-group">

        <% if( rs == undefined) { %>

        <select id="inputState" class="form-control">
          <option value="1" selected>公司注销</option>
          <option value="2">外资注册</option>
          <option value="3">资质审批</option>

        </select>
        <% } else { %>

        <select id="inputState" class="form-control">
          <% if (rs[0]['typeid'] == '1') { %>
          <option value="1" selected>公司注销</option>
          <option value="2">外资注册</option>
          <option value="3">资质审批</option>

          <% } else if (rs[0]['typeid'] == '2') { %>
          <option value="1">公司注销</option>
          <option value="2" selected>外资注册</option>
          <option value="3">资质审批</option>

          <% } else { %>
          <option value="1">公司注销</option>
          <option value="2">外资注册</option>
          <option value="3" selected>资质审批</option>

          <% } %>

        </select>

        <% } %>

      </div>


      <div class="btn-group dropdown" id="userFace">
        <% if (loginbean) { %>
        <button type="button" href="/" id="user-btn" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="false" aria-expanded="false">
          <%= loginbean.nicheng %>
        </button>
        <% } else { %>
        <button type="button" href="/" id="user-btn" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="false" aria-expanded="false">用户
        </button>
        <% } %>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">修改头像</button>
          <button class="dropdown-item" type="button">修改密码</button>
          <button class="dropdown-item" type="button" href=""><a href="/admin/logout">退出</a></button>
        </div>
      </div>
    </div>

  </div>

  <% if (rs[0] == undefined) { %>
  <div class="line">添加文章</div>
  <% } else  { %>

  <div class="edit-article">
    <form method="post" action="/admin/editSave">
      <div class="form-group row article-title">
        <label class="col-1 col-form-label">文章标题:</label>
        <div class="col-11">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">普通文章
              </button>
              <div class="dropdown-menu">
                <!--todo: 默认"普通文章"是active状态，status=0；还可以选择"首页推荐"，status=1。-->
                <a class="dropdown-item" href="#">普通文章</a>
                <a class="dropdown-item" href="#">首页推荐</a>
                <div role="separator" class="dropdown-divider"></div>
              </div>
            </div>
            <input name="title" type="text" class="form-control" aria-label="Text input with dropdown button"
                   value="<%= rs[0]['title'] %>">
          </div>
          <input name="typeId" type="hidden" id="typeId" value="<%= rs[0]['typeid'] %>">

        </div>
      </div>

      <div class="form-group row article-second-title">
        <label class="col-1 col-form-label">二级标题:</label>
        <div class="col-11">
          <textarea name="subTitle" class="form-control" id="exampleFormControlTextarea1"
                    rows="2"><%= rs[0]['subTitle'] %></textarea>
        </div>
      </div>

      <div class="form-group article-content">
        <label for="exampleFormControlSelect2">详细内容:</label>
        <textarea name="content" id="content" class="form-control xheditor"
                  rows="10"> <%= rs[0]['content'] %></textarea>
      </div>

      <div class="form-group row article-from">
        <label class="col-1 col-form-label ">文章出自:</label>
        <div class="col-11">
          <input class="form-control" type="text"
                 value="晖昌通公司">
        </div>
      </div>
      <div id="save">
        <input name="typeid" type="hidden"
               value="<%= parseInt(rs[0]['typeid']) %>">
        <input name="aid" type="hidden"
               value="<%= rs[0]['aid'] %>">
        <button type="submit" class="btn btn-success">确认提交</button>
      </div>

    </form>

  </div>

  <% } %>

</div>


<!--</div>-->


</body>
</html>

